# Environment files
.env
*.env

# Terraform specific files
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*~

# OS specific files
.DS_Store
Thumbs.db 